@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* @import url('https://fonts.cdnfonts.com/css/lemon-melon'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lemon";
  src: url("/fonts/LemonMelon.ttf") format("truetype");
  font-display: swap;
}

.title {
  @apply font-lemon text-7xl;
}

.subheadline {
  @apply font-alice text-3xl;
}

.subheadline-small {
  @apply font-alice text-2xl;
}

.body {
  @apply font-lora text-base leading-loose;
}

.small {
  @apply font-lora text-xs;
}

.outline-button {
  @apply py-3 px-5 border border-neutral rounded-full hover:text-dark hover:bg-neutral transition ease-out duration-300;
}

.outline-button-light {
  @apply py-3 px-5 border border-neutral rounded-full text-neutral hover:text-dark hover:bg-neutral transition ease-out duration-300;
}
